<% var cat = (page.category) %>
<%- partial('_partial/header', {category: cat}) %>
<div id="content" class="category-page">
  <div class="container" style="max-width:1200px!important;">
    <div class="columns">
      <% site.categories.sort('name').map(function(category){  %>
        <% if(category.name == cat) { %>
          <% category.posts.sort('-date').map(function(post, i){  %>
          <% if (post.redirect) {%><%}else{%>
          <%- partial('_partial/mapcard', {post: post, index: true}) %>
          <%- partial('_partial/modal', {post: post, modaltop: true}) %>
          <%}%>
        <% }) %>
      <% } %>
    <% }) %>
    </div>
  </div>
</div>